.attachment, /* for browser ready HTML */
.wrap { /* for NodeView */
  border-width: 1px !important;
  border-radius: var(--radius) !important;
  border-color: hsl(var(--border)) !important;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;

  :global {
    .attachment__icon {
      width: 32px;
      text-align: center;
    }

    .attachment__icon svg {
      width: 32px;
      display: inline-block;
    }
  }
}

