# Ignore artifacts:
build
coverage

node_modules

# Ignore all HTML files:
*.html

.github

.next

.swc

vite.config.ts
public/
es/
lib/
dist/
package.json
src/assets/
plop-templates/
handlebars/
website/
build/
src/components/*/**.tsx
src/components/*/**.ts
