@tailwind base;
@tailwind components;
@tailwind utilities;

// https://github.com/radix-ui/primitives/issues/1496
html body[data-scroll-locked] {
  --removed-body-scroll-bar-size: 0 !important;
  // margin-right: 0 !important;
  position: initial !important;
}
