.wrap {
  --editor__bg: #292c33;
  --widget__border: #3a3f4b;
  --widget__color: #ccc;

  :global {
    .richtext-node-code-block {
      width: 100%;
      outline: solid 1px black;
      overflow: hidden;
      border-radius: 4px;
      position: relative;
    }

    .richtext-code-block-toolbar {
      display: flex;
      align-items: center;
      gap: 8px;
      z-index: 10;
      padding: 4px;
      background-color: var(--editor__bg);
      color: var(--widget__color);
      border-bottom: 1px solid var(--widget__border);

      .toolbar-divider {
        width: 1px;
        height: 16px;
        background-color: var(--widget__border);
        margin: 0 4px;
      }
    }
  }
}

.blockInfoEditable {
  pointer-events: none;
}
